services:
  # Serviço da Aplicação (config-teste)
  config-teste:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: config-teste-app
    restart: on-failure
    depends_on:
      - postgres
      - valkey
    ports:
      - "8080:8080"
    environment:
      # Exemplo de variáveis de ambiente para a aplicação Spring Boot
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/exemplo_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_REDIS_HOST=valkey
      - SPRING_REDIS_PORT=6379
    networks:
      - app-network

  # Serviço do Banco de Dados (PostgreSQL)
  postgres:
    image: postgres:16-alpine
    container_name: config-test-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: exemplo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  valkey:
    image: valkey/valkey:8
    container_name: config-test-valkey
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
