spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/exemplo_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: ${JWT_SECRET:sua_chave_secreta_com_pelo_menos_32_caracteres}
  expiration: 86400000